# OS Stuff
**/.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
.venv/
venv/
virtual/
ENV/

# PyCharm stuff
.idea

# ignore .pytest_cache folder
.pytest_cache

# ignore .tox folder
.tox

# ignore manifest
MANIFEST

# Byte-compiled / optimized / DLL files
**__pycache__/